<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dextra Test - Caio Americo</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Dextra Test">
    <link rel='shortcut icon' type='image/x-icon' href='' />

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/global.css" /> 
    {{# each style}}
    <link rel="stylesheet" type="text/css" href="{{this}}" /> 
    {{/each}}
</head>

<body>
    <main role="main">
        <header>
            <div class="header-img-area">
                <img class="header-img" src="/images/header.jpg" alt="Imagem header">
            </div>
        </header>
        <div class="main-container">
            <div class="menu-left">
                <a class="selected" href='#'>Lanches</a>
                <a href='#'>Bebidas</a>
                <a href='#'>Sobremesa</a>
            </div>

            <div class="content-right">{{{body}}}</div>

            <section class="cart-footer">
                <h3>Meu Pedido</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Produto</th>
                            <th>Ingredientes</th>
                            <th>Preço</th>
                            <th>Remover</th>
                        </tr>
                    </thead>
                    <tbody class="cartTable">
                    </tbody>
                </table>
            </section>
        </div>
        <div class="finish-order">
            <button type="submit" class="btn btn-finish">
                <i class="fas fa-check"></i> Finalizar Pedido
            </button>
        </div>
    </main>

    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/jquery.cookie.js"></script>
    {{# each javascript}}
    <script src="{{this}}"></script>
    {{/each}}
</body>
</html>