<form id="addProd" action="/addCart" method="post">
    <section>
        <h2><span>Escolha um Lanche</span></h2>
        <div class="row">
            <input type="number" id="idToCart" name="idToCart" hidden> 
            {{# each products}}
            <div class="col-sm-6 col-lg-3 card-item">
                <div class="card-prods" title="{{this}}">
                    <input class="form-check-input" type="radio" name="snackType" id="snackType{{@index}}" value="{{this}}" hidden>
                    <div class="card-img-area">
                        <img class="card-img-top" src="/images/egg-bacon.jpg" alt="Imagem lanche">
                    </div>
                    <h3>{{this}}</h3>
                    <div class="card-snacks" data-snack-type="{{this}}">
                        <ul></ul>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </section>

    <section class="section-ingredients">
        <h2><span>Escolha seus ingredientes</span></h2>
        <div class="promotion-area">
            <p class="alert promotion-label promotion-light">
                <b>Promoção Light Ativa</b> - Lanche com alface e sem bacon, ganha 10% de desconto</p>
            <p class="alert promotion-label promotion-steak">
                <b>Promoção Muita Carne Ativa</b> - A cada 3 porções de carne só paga 2.</p>
            <p class="alert promotion-label promotion-cheese">
                <b>Promoção Muita Queijo Ativa</b> - A cada 3 porções de queijo só paga 2.</p>
        </div>
        {{# each ingredients}}
        <div class="row form-group" data-snack-type="{{this.name}}">
            <div class="col-12 col-sm-3 col-lg-3 col-xl-4 ingredients-title">
                <label>{{this.name}}</label>
            </div>
            <div class="col-8 col-sm-6 col-lg-6 col-xl-4">
                <div class="input-group justify-content-center">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-success btn-number" data-type="plus" data-field="{{this.name}}Qtd">
                            <i class="fas fa-plus"></i>
                        </button>
                    </span>
                    <input class="input-qtd" type="text" id="{{this.name}}Qtd" name="{{this.name}}Qtd" class="form-control input-number" value="0"
                        min="0" data-ingredient="{{this.name}}" data-price="{{this.price}}" readonly>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-danger btn-number" data-type="minus" data-field="{{this.name}}Qtd">
                            <i class="fas fa-minus"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-4 col-sm-3 col-lg-3 col-xl-4 ingredients-price">
                <span class="currency">R$<input type="number" id="{{this.name}}Total" name="{{this.name}}Total" class="priceItem" data-ingredient="{{this.name}}"
                    value="0.00" min="0.00" readonly/></span>
            </div>
        </div>
        {{/each}}
        <div class="row form-group">
            <div class="offset-lg-9 col-lg-3 offset-xl-8 col-xl-4 shopping-price">
                <span class="currency">R$<input type="number" class="priceTotal" id="priceTotal" name="priceTotal" value="0.00" min="0.00" readonly/></span>
                {{!-- <input type="number" class="priceTotal" id="priceTotal" name="priceTotal" value="0.00" min="0.00" readonly/> --}}
            </div>
        </div>

        <div class="form-bottom">
            <button type="submit" class="btn btn-success">
                <i class="fas fa-check"></i> Adicionar
            </button>
            <button type="reset" class="btn btn-danger">
                <i class="fas fa-times"></i> Cancelar
            </button>
        </div>
    </section>

    {{!-- <section>
        <div class="form-bottom">
            <button type="submit" class="btn btn-success">
                <i class="fas fa-check"></i> Adicionar
            </button>
            <button type="reset" class="btn btn-danger">
                <i class="fas fa-times"></i> Cancelar
            </button>
        </div>
    </section> --}}
</form>