header {
    position: relative;
    height: 350px;
    width: 100%;
}

.header-img-area {
    position: relative;
    width: 100%;
    height: 100%;
}

.header-img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

main {
    margin: auto;
    background-color: #fff;
}

section {
    margin: .5rem auto 3rem;
}

ul {
    display: block;
    text-align: center;
    list-style-type: none;
    margin-block-start: 0px;
    margin-block-end: 1em;
    margin-inline-start: 1em;
    margin-inline-end: 1em;
    padding-inline-start: 0;
}

.main-container {
    display: block;
    float: left;
    padding: 1rem;
    width: 100%;
}

.menu-left {
    float: left;
    width: 15%;
    padding: .5rem;
}

.menu-left a {
    position: relative;
    display: block;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
    border: 1px solid #e1dfdf;
    border-radius: 15px;
    cursor: pointer;
    padding: 4rem 0;
    text-align: center;
    font-weight: 600;
    color: #000 !important;
    outline: none !important;
    text-decoration: none !important;
    margin: .5rem;
}

.menu-left a:hover {
    background: rgb(201, 201, 201);
    background: linear-gradient(0deg, rgba(201, 201, 201, 1) 0%, rgba(225, 223, 223, 1) 15%, rgba(255, 255, 255, 1) 100%);
}

.menu-left a.selected {
    background: rgb(201, 201, 201);
    background: linear-gradient(0deg, rgba(201, 201, 201, 1) 0%, rgba(225, 223, 223, 1) 15%, rgba(255, 255, 255, 1) 100%);
}

.content-right {
    float: right;
    width: 85%;
    padding: .5rem;
}

.cart-footer {
    display: block;
    float: left;
    width: 100%;
    border: 2px solid #04783a;
    text-align: center;
    margin-top: 40px;
}

.cart-footer h3 {
    position: relative;
    color: #fff;
    background: #04783a;
    padding: .5rem;
    font-size: 1.4rem;
    margin: 0;
}

.table {
    width: 100%;
    margin: 0;
    background-color: transparent;
}

.table td,
.table th {
    padding: .75rem .5rem;
}

.buttonRemoveCart {
    -webkit-appearance: none;
    border: none;
    background: #dc3545;
    border-radius: 50%;
    cursor: pointer;
    color: #fff;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, .5);
    outline: none !important;
}

.finish-order {
    display: none;
    text-align: center;
    float: left;
    width: 100%;
    border-top: 1px solid #e1dfdf;
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, .2);
    padding: 1rem;
}

.btn-finish {
    padding: .675rem .95rem;
    color: #fff !important;
    max-width: 800px;
    background-color: #04783a;
    font-size: 1.25rem;
    font-weight: 600;
    border-color: #04783a;
    width: 60%;
}

.btn-finish:hover {
    background-color: #026430;
    text-decoration: none;
}

/********************
****  RESPONSIVE ****
*********************/

@media screen and (max-width: 991px) {
    header {
        height: 175px;
    }
    .menu-left {
        width: 100%;
    }
    .content-right {
        width: 100%;
    }
    .menu-left a {
        padding: 1.5rem 0;
    }
}