h2 {
    position: relative;
    font-size: 2.25rem;
    margin: .5rem 0 2rem;
}

h2:before {
    content: '';
    background: #212529;
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0%;
    top: 52%;
    z-index: -1;
}

h2 span{
    background-color: #fff;
    padding-right: 1.5rem;
}

h3 {
    font-size: 1.25rem;
    text-align: center;
    margin: .5rem 0;
}

.card-item{
    padding: 12px;
}

.card-prods {
    position: relative;
    display: block;
    overflow: hidden;
    height: 100%;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.07);
    border: 2px solid transparent;
    border-radius: 3px;
    cursor: pointer;
}

.card-checked {
    border: 2px solid red;
}

.card-checked:after {
    position: absolute;
    content: '';
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 30px solid red;
    border-left: 30px solid transparent;
}

.card-img-area {
    position: relative;
    width: 100%;
    height: 150px;
}

.card-img-top {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: auto;
}

/* LABELS PROMOTION */

.promotion-area {
    margin-bottom: 1.5rem;
}

.promotion-label {
    display: none;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    padding: .5rem 1rem;
    margin-bottom: .5rem;
}

.active {
    display: block;
}

/* END LABELS PROMOTION */
.section-ingredients{
    display: none;
}

.section-ingredients .form-group {
    text-align: center;
}

.ingrediente-title {
    line-height: 40px;
}

.btn-number[data-type="plus"]{
    border-radius: .25rem 0 0 .25rem;
}
.btn-number[data-type="minus"]{
    border-radius: 0 .25rem .25rem 0;
}

.input-qtd{
    max-width: 105px;
    text-align: center;
}

.ingredients-title label,
.ingredients-price,
.shopping-price{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.2;
    width: 100%;
    font-weight: 500;
    font-size: 1.2rem;
}

.priceItem,
.priceTotal {
    -webkit-appearance: none;
    border: none;
    outline: none !important;
    cursor: default;
    max-width: 105px;
    font-weight: 500;
    font-size: 1.2rem;
    background: transparent;
    text-align: center;
    color: inherit;
}

.shopping-price .currency{
    position: relative;
    display: inline-block;
    color: #fff;
    background: #04783a;
    padding: .5rem 1rem;
    margin: .5rem;
}

.form-bottom{
    padding: .5rem;
    text-align: center;
}

.form-bottom .btn{
    width: 49%;
    padding: .4rem;
    font-size: 1.25rem;
}